<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DisRPC.lastid" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DisRPC.customid" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DisRPC.lastid>
            <setting name="id_1" serializeAs="String">
                <value />
            </setting>
            <setting name="text1_1" serializeAs="String">
                <value />
            </setting>
            <setting name="text2_1" serializeAs="String">
                <value />
            </setting>
            <setting name="logoname_1" serializeAs="String">
                <value />
            </setting>
            <setting name="smalllogoname_1" serializeAs="String">
                <value />
            </setting>
            <setting name="imagetext_1" serializeAs="String">
                <value />
            </setting>
            <setting name="presetname_1" serializeAs="String">
                <value>LAST ID</value>
            </setting>
        </DisRPC.lastid>
        <DisRPC.customid>
            <setting name="id_1" serializeAs="String">
                <value />
            </setting>
            <setting name="text1_1" serializeAs="String">
                <value />
            </setting>
            <setting name="text2_1" serializeAs="String">
                <value />
            </setting>
            <setting name="logoname_1" serializeAs="String">
                <value />
            </setting>
            <setting name="smalllogoname_1" serializeAs="String">
                <value />
            </setting>
            <setting name="imagetext_1" serializeAs="String">
                <value />
            </setting>
            <setting name="presetname_1" serializeAs="String">
                <value>custom preset (empty)</value>
            </setting>
        </DisRPC.customid>
    </userSettings>
</configuration>